#adminBox{
    margin-top: 50px;
    border: 1px solid black;
    height: 150px;
    width: 600px;
}

#pictureBox{
    float: left;
    width: 150px;
    height: 150px;
    border-right: 1px solid black;
}

#infoBox{
    text-align: center;
    float: left;
    font-size: 120%;
}
#dateChange{
    height: 49px;
    font-size: 150%;
}

#deadlineInformation{
	width: 440px;
	font-size: 170%;
	height: 49px;
	border-bottom: 1px solid black;
}
#adminName{
    height: 20px;
    font-size: 150%;
    border-top: 0px solid black;
    border-right: 0px solid black;
    border-left: 0px solid black;
    border-bottom: 1px solid black;
}
