
#studentBox{
    margin-top: 50px;
    border: 1px solid black;
    height: 250px;
    width: 700px;
}

#pictureBox{
    float: left;
    width: 250px;
    height: 250px;
    border-right: 1px solid black;
}

#infoBox{
    float: left;
    font-size: 150%;
}

#advisorEditBox{
	border: 1px solid black;
	width: 200px;
	height: 150px;
	float: right;
	text-align: center;
}

#layoutEditSelectionBox{
	border: 1px solid black;
	width: 200px;
	height: 150px;
	float: right;
	text-align: center;
}

#layoutViewSelectionBox{
	border: 1px solid black;
	width: 200px;
	height: 75px;
	float: right;
	text-align: center;
}

#mediaBox{
    float: none;
    width: 700px;
}

#academicInformation{
    font-size: 30px;
    border-bottom: 1px solid black;
    width: 440px;
}
#extraInformation{
    font-size: 25px;
    width: 440px;
}

#extraInformationTB{
    font-size: 25px;
	resize: none;
	maxlength: 155;
	height: 148px;
    width: 437px;
}

#studentName{
    height: 20px;
    width: 440px;
    font-size: 40px;
    border-bottom: 1px solid black;
}